@{

    Layout = null;
}

@{

    ViewBag.Title = "WorkorderDB";
}

<h2>WorkorderDB</h2>

<p>Hello from our CDB Template!</p>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>

    </div>
</body>

</html>
