@{



    Layout = null;
}

@{



    ViewBag.Title = "workorderDB";
}

<h2>workorderDB</h2>

<p>Hello from our WDB Template!</p>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>

    </div>
</body>

</html>
